@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

:root {
  --ff-serif: "PT Serif", Georgia, Times, "Times New Roman", serif;
  --ff-sans: Arial, "Helvetica Neue", Helvetica, sans-serif;

  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;

  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #ecf4fa;
  --clr-neutral-300: #e5ecf1;
  --clr-neutral-400: #d3dde3;
  --clr-neutral-500: #afc3ce;
  --clr-neutral-600: #92aaba;
  --clr-neutral-700: #53748a;
  --clr-neutral-800: #264559;
  --clr-neutral-900: #051926;

  --clr-accent-200: #b3d4ff;
  --clr-accent-400: #4f89d4;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-200);
}

*:focus {
  outline: 2px solid var(--clr-accent-400);
}

h1,
h2,
h3 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Utilities */

.container {
  padding: 0 1rem;
}

.flow-content > * + * {
  margin-top: 1rem;
}

.bg-light {
  background-color: var(--clr-neutral-100);
  border: 1px solid var(--clr-neutral-400);
}

/* General Styling */

body {
  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-300);
  line-height: 1.6;
  font-family: var(--ff-serif);
  font-size: var(--fs-400);
  font-weight: 400;
}

input {
  padding: 0.5em;
  border: none;
  width: 100%;
}

/* Header */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.logo {
  height: 1, 875rem;
  margin-left: 1rem;
}

.menu-list li {
  display: inline-block;
  margin-left: 1rem;
}

.btn {
  color: var(--clr-neutral-700);
  text-decoration: none;
  padding: 0.25rem 0.75rem;
}

.btn:active {
  background-color: var(--clr-neutral-300);
}

/* Editor */

.editor {
  display: flex;
}

.editor-panel {
  flex: 0 1 60%;
  height: 90vh;
  margin-right: 1rem;
  padding: 0.5em;
  overflow: auto;
}

.paragraph-list > * + * {
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px solid var(--clr-neutral-400);
}

.sentence-list {
  box-sizing: initial;
}

.sentence {
  padding: 0.5em;
  cursor: move;
}

.sentence > * + * {
  display: none;
}

.variant-list {
  background-color: var(--clr-neutral-300);
}

.variant {
  padding: 0.5em;
}

/* .variant[contenteditable="true"] {
  background-color: var(--clr-accent-400);
} */

.sentence-content,
.variant-content {
  pointer-events: none;
}

.dragging {
  outline: 2px solid var(--clr-accent-400);
}

.input {
  background-color: var(--clr-neutral-300);
}

.edit-mode {
  background-color: var(--clr-neutral-300);
  padding: 0;
}

.edit-mode > * {
  display: block;
  padding: 0.5em;
}

.editor-preview {
  flex: 0 1 40%;
}

.editor-preview textarea {
  width: 100%;
  height: 100%;
  padding: 1em;
  border: none;
  resize: none;
  overflow: auto;
}

.editor-preview textarea::placeholder {
  color: var(--clr-neutral-600);
}

/* Modal */

.modal {
  background-color: rgba(146, 170, 186, 0.5);
  display: none;
  overflow: auto;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 10vh 2rem;
}

.modal-content {
  padding: 2rem;
  max-width: 50rem;
  margin: 0 auto;
  position: relative;
}

.modal ul,
.modal ol {
  margin-bottom: 0;
  padding-left: 1rem;
}

.modal h1 {
  color: var(--clr-neutral-700);
  text-transform: uppercase;
  font-family: var(--ff-sans);
  font-size: var(--fs-600);
}

.modal strong {
  color: var(--clr-neutral-700);
  text-transform: uppercase;
  font-weight: 400;
}

.close {
  color: var(--clr-neutral-600);
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  line-height: 0px;
  top: 2rem;
  right: 1.5rem;
}

.close:hover,
.close:focus {
  color: var(--clr-neutral-700);
  text-decoration: none;
  cursor: pointer;
}
